* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  /* margin-bottom: 2rem; */
  font-family: 'Abel', sans-serif;
  position: sticky;
  top: 0;
  z-index: 2;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

.nav {
  width: 100%;
  height: 5rem;
  background-color: #12263a;
}

.nav .nav-container {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

.logo a {
  color: #fafafa;
  text-decoration: none;
  font-weight: bold;
}

.nav-list {
  display: flex;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

.nav-item {
  list-style-type: none;
}

.nav-item a {
  text-decoration: none;
  color: #fafafa;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.nav-item a:hover {
  background-color: #06bcc1;
}

.banner {
  width: 100%;
  height: 60rem;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes banner {
  0%,
  20% {
    background-image: url(../assets/img/pc.jpg);
  }
  25%,
  45% {
    background-image: url(../assets/img/Uno-de-los-mejores-emuladores-de-Android-para-PC.webp);
  }
  50%,
  70% {
    background-image: url(../assets/img/banner-image3.jpg);
  }
  74%,
  100% {
    background-image: url(../assets/img/banner-image4.png);
  }
}

.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.info {
  z-index: 1;
  width: 100%;
  max-width: 550px;
  text-align: center;
}

.info h1 {
  color: #fff;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.info p {
  font-size: 2rem;
  color: #c7c7c7;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.info a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  background-color: #06bcc1;
  padding: 1.6rem 3.7rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.5s;
}

.info a:hover {
  background: #04858a;
}

.section1 {
  width: 100%;
}

.section1 .container {
  width: 80%;
  margin: 0 auto;
}

.container {
  height: max-content;
}

.container h2 {
  font-size: 3rem;
}

.divider {
  height: 0.1rem;
  width: 100%;
  margin: 4.5rem 0;
  background: #ccc;
}

.cards-container {
  width: 100%;
  max-width: 1200px;
  /* height: 450px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.cards-container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 2rem;
  text-align: center;
  transition: all 0.25s;
}

.cards-container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.cards-container .card img {
  width: 100%;
  height: 200px;
}

.cards-container .card h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cards-container .card p {
  margin-top: 2rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 300;
}

footer {
  width: 100%;
  height: 4rem;
  background: #12263a;
  color: #ccc;
}
